.App {
  text-align: center;
}


.App-header {
  background-color: #88a5df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gameBody{
  display: flex;
}

.left{
  text-align: center;
  width: 50%;
  border: thin solid #ddd;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 28px;
}

.right{
  text-align: center;
  padding: 10px;
  width: 50%;
  border: thin solid #ddd;
}

.star{
  display: inline-block;
  margin: 10px 15px;
  width: 55px;
  height: 55px;
  font-size: 40px;
}

.number{
  background-color: #eee;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 25px;
  cursor: pointer;
}