.App {
  text-align: center;
}


.App-header {
  background-color: #88a5df;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gameBody{
  display: flex;
}

.left{
  text-align: center;
  width: 300px;
  height: 300px;
  border: thin solid #ddd;  
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 28px;
}

.right{
  text-align: center;
  width: 300px;
  height: 300px;
  border: thin solid #ddd;
}

.star{
  display: inline-block;
  margin: 10px 15px;
  width: 55px;
  height: 55px;
  font-size: 40px;
}

.number{
  background-color: #eee;
  border: thin solid #ddd;
  width: 45px;
  height: 45px;
  margin-top: 15px;
  font-size: 25px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.gameDone{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gameDone button{
  padding: 10px 20px;
  font-size: 1.5em;
  color: #88a5df;
  background-color: white;
  border: 2px solid #88a5df;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gameDone button:hover{
  background-color: #88a5df;
  color: white;
}

.isWin{
  font-size: 2em;
  margin-bottom: 2em;  
  font-family: 'Courier New', Courier, monospace; 
  color: #FFD700;
}

.resultMessage {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .gameBody {
    flex-direction: column;
  }
  .left, .right {
    width: 300px;
    height: 300px;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 50px;
  }

  .star {
    margin: 5px 7px;
    width: 50px;
    height: 50px;
    font-size: 45px;
  }

  .number {
    width: 40px;
    height: 40px;
    font-size: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .App-header {
    font-size: calc(10px + 1vmin);
    justify-content: flex-start;
  }

  .gameDone button{
    margin-bottom: 15px;
  }

  .timer{
    font-size: 30px;
  }

  .isWin{
    font-size: 3em;
  }
}
